RUNTIME_DIR=/data
PLAYWRIGHT_HEADLESS=1

MANTLE_RPC_URL=https://rpc.mantle.xyz
EXPLORER_API_V2_URL=https://api.etherscan.io/v2/api
ETHERSCAN_API_KEY=
MONTHLY_MNT_AMOUNT=50
MONTHLY_CREDIT_AMOUNT=100
SUBSCRIPTION_DAYS=30

OPENAI_API_KEY=
WP_URL=https://your-domain.com/wp-json/wp/v2/posts
WP_JWT=
CRYPTO_PANIC=

API_ID=
API_HASH=

# MantleFlow Credit Token
CREDIT_TOKEN_ADDRESS=
CREDIT_TOKEN_SYMBOL=MFC
TOKEN_CAP=10000000
TRANSFER_BURN_FEE_BPS=200
PROJECT_TREASURY=0x152B5F1E58ACD5036D8d2027D3B793e81103E644
DEPLOYER_PRIVATE_KEY=
